@import "./global.css";

/* -----------------Navbar--------------- */

.navbar {
    padding: 25px 0;
}

.nav-item {
    padding: 0 10px;
}

.nav-after ul li ::after {
    content: '';
    width: 0%;
    height: 3px;
    background-color: var(--color-blue);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-after ul li:hover ::after {
    width: 100%;
}

.header-title-text {
    font-weight: 700;
}

/* ------------Banner------------------- */

.image-main::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.banner-image img {
    object-fit: inherit;
    min-height: 50vh;
}

.image-content {
    z-index: 2;
}

.slider-main {
    padding: 0;
}

.slick-banner {
    overflow: hidden;
}

.image-content {
    position: absolute;
    color: var(--color-white);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.slick-dots {
    bottom: 10px !important;
}

.slick-dots li button:before {
    color: var(--color-white) !important;
}

/* <!-------------------BOD--------------------- --> */

.bod-member-card {
    box-shadow: 0 8px 12px 0 rgba(51, 51, 51, 0.4);
    background-color: var(--color-white);
    padding: 15px;
    text-align: center;
}

.bod-member-image img {
    width: 100px;
    height: 100px;
}

.bi {
    padding: 0 3px;
}

.bod-title-header {
    margin-bottom: 40px;
}

.bod-social-icon a {
    color: var(--color-black);
}

/* <!-- -----------Full width image and text box------------- --> */

.full-width-image-text {
    background-color: var(--color-brown);
    color: var(--color-white);
    padding: 40px 30px;
    position: relative;
    bottom: 50px;
    text-align: center;
}

/* <!-- -------------Three cards------------- --> */

.three-card-icon i {
    font-size: 50px;
}

.three-card-main {
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
    padding: 30px 10px;
}

/* <!-- -------------------Footer-------------------------- --> */

.footer-main {
    background-color: var(--color-brown);
}

.footer-details {
    display: flex;
    color: var(--color-white);
    justify-content: space-between;
    padding: 30px 20px;
}

/* -------------Responsivness---------------- */

@media (max-width:768px) {

    .feature-content-detail {
        padding-top: 20px;
    }

    .three-card-main {
        margin-bottom: 20px;
    }

    .image-content h1 {
        font-size: 30px;
    }

    .image-content p {
        font-size: 17px;
        line-height: 25px;
    }

    .cta {
        padding: 8px 18px;
    }
    .feature-cta{
        padding: 8px 18px;
    }
}

@media (max-width:992px) {
    .bod-member-card {
        margin-bottom: 30px;
    }
}